.gif{
	float: left;
	padding: 3px;
	overflow: auto;
}
img{
	height: 100px;
}
p{
	margin: 0;
}
body{
	background: url("../images/snow.jpg")
}
#fold-btn{
	width: auto;
	color: #5a5a5a;
}
.container{
	margin: 15px;
}
.input-group{
	width: 400px;
}
.animal-btn{
	margin: 3px;
}
.container-fluid{
	padding: 0;
}
.line{
	background: rgba(94, 188, 170, 0.4);
	padding: 10px;
}
#gif-container{
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid rgba(94, 188, 170, 0.9);
}