div{
	border: 1px solid green;
}

/*background: rgba(0,0,0,.5);*/

/*#button-container{
	background-image: url("../images/christmas-tree.png");
	background-size: 430px;
	height: 550px; 
	background-repeat: no-repeat;
}*/
